:root {
  --accent-color: #a01b1b;
  --accent-color-light: rgba(160, 27, 27, 0.7);
  --accent-color-dark: #871818;
  --light-color: #ededed;
  --titles-color: #3e0808;
  --secondary-titles-color: #666666;
  --text-color: #444444;
  --text-btn-color: #25282b;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Nunito", sans-serif;
  --btn-font: "Roboto", sans-serif;
}

.index,
.projects,
.contact {
  background-color: var(--light-color);
}

.navbar-brand {
  font-family: var(--secondary-font) !important;
  font-size: 24px !important;
}
.navbar-brand:hover {
  color: var(--accent-color) !important;
}

.index a,
.projects a,
.contact a {
  text-decoration: none;
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-size: 18px;
  font-weight: lighter;
  line-height: 200%;
}

.index a:hover,
.projects a:hover,
.contact a:hover {
  color: var(--accent-color);
}

.homepage-hero p,
.homepage-hero h1 {
  color: var(--titles-color);
  font-family: var(--primary-font);
  font-size: 70px;
  line-height: 1;
}

.homepage-hero h2 {
  color: var(--secondary-titles-color);
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 25px;
}

.default-btn {
  display: inline-block;
  background-color: var(--accent-color-light);
  padding: 6px 16px;
  font-size: 18px;
  border-radius: 10px;
}

.default-btn:hover {
  color: var(--light-color) !important;
  background-color: var(--accent-color);
}

.secondary-btn {
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.secondary-btn:hover {
  color: var(--light-color) !important;
  background-color: var(--text-color);
}

.footer {
  margin: 115px auto;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: lighter;
  color: var(--text-color);
}

.footer p:before {
  content: "";
  display: block;
  margin: 11px auto 15px;
  width: 240px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

@media (max-width: 538px) {
  .homepage-hero p,
  .homepage-hero h1 {
    font-size: 40px;
  }
}
