:root {
  --accent-color: #a01b1b;
  --accent-color-light: rgba(160, 27, 27, 0.7);
  --accent-color-dark: #871818;
  --light-color: #ededed;
  --titles-color: #3e0808;
  --secondary-titles-color: #666666;
  --text-color: #444444;
  --text-btn-color: #25282b;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Nunito", sans-serif;
  --btn-font: "Roboto", sans-serif;
  --box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.index,
.projects,
.about,
.contact {
  background-color: var(--light-color);
}

.navbar-brand {
  font-family: var(--secondary-font) !important;
  font-size: 24px !important;
}
.navbar-brand:hover {
  color: var(--accent-color) !important;
}

.index a,
.projects a,
.about a,
.contact a {
  text-decoration: none;
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-size: 18px;
  font-weight: lighter;
  line-height: 200%;
}

.index a:hover,
.projects a:hover,
.about a:hover,
.contact a:hover {
  color: var(--accent-color);
}

.hero {
  margin: 50px auto 100px;
}

.hero h4,
.hero h1 {
  color: var(--titles-color);
  font-family: var(--primary-font);
  font-size: 64px;
  line-height: 1;
}

.hero h2,
.hero h3,
.hero p,
.portfolio-subtitle {
  color: var(--secondary-titles-color);
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 25px;
}

.default-btn {
  color: var(--text-btn-color) !important;
  display: inline-block;
  background-color: var(--accent-color-light);
  padding: 6px 16px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.default-btn:hover {
  color: var(--light-color) !important;
  background-color: var(--accent-color);
}

.secondary-btn {
  color: var(--text-btn-color) !important;
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.secondary-btn:hover {
  color: var(--light-color) !important;
  background-color: var(--text-color);
}

.subtitle {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-size: 54px;
  margin: 100px auto;
}

.subtitle:after {
  content: "";
  display: block;
  margin: 11px auto 15px;
  width: 240px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

.project-row {
  padding: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.project-title {
  color: var(--titles-color);
  font-family: var(--primary-font);
  font-size: 40px;
  line-height: 1;
}

.project-subtitle {
  color: var(--secondary-titles-color);
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 22px;
  line-height: 1.5;
}

.project-text {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.5;
}

.skills-container h6{
    font-size: 12px;
}

.contact-email {
  font-size: 32px !important;
}

.footer {
  margin: 115px auto;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: lighter;
  color: var(--text-color);
}

.footer p:before {
  content: "";
  display: block;
  margin: 11px auto 15px;
  width: 240px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

@media (max-width: 992px) {
  .project-description {
    text-align: center;
  }
  h6 {
    display: none;
  }
}

@media (max-width: 538px) {
  .hero h4,
  .hero h1 {
    font-size: 40px;
  }

  .hero h2,
  .hero h3,
  .hero p,
  .portfolio-subtitle {
    font-size: 18px;
  }

  .project-row {
    margin: 5px;
    padding: 30px 10px;
  }

  .contact-email {
    font-size: 24px !important;
  }
}
