:root {
  --accent-color: #a01b1b;
  --accent-color-dark: #871818;
  --light-color: #ededed;
  --titles-color: #3e0808;
  --secondary-titles-color: #385170;
  --text-color: #444444;
  --text-btn-color: #25282b;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Nunito", sans-serif;
  --btn-font: "Roboto", sans-serif;
}

